<a href="https://colab.research.google.com/github/roshan07273/Machine_learning_Algos/blob/main/KNN_ALGORITHM_IMPLEMENTATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [17]:
df = pd.read_csv('/content/suv_data.csv')

In [18]:
df.shape

(400, 5)

In [19]:
df.head

<bound method NDFrame.head of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

In [20]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder

In [26]:
l_c = LabelEncoder()

In [27]:
df['Gender']=l_c.fit_transform(df['Gender'])

In [25]:
df.head

<bound method NDFrame.head of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

In [29]:
x = df.iloc[: , 1:4]

In [30]:
x.head

<bound method NDFrame.head of      Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]>

In [31]:
y = df.Purchased

In [32]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [34]:
train_test_split(x,y,test_size = 0.2,random_state=8)

[     Gender  Age  EstimatedSalary
 154       1   40            47000
 227       1   56           133000
 213       1   35            58000
 366       0   58            47000
 369       0   54            26000
 ..      ...  ...              ...
 339       1   39           122000
 136       0   20            82000
 133       0   21            68000
 361       0   53            34000
 340       0   53           104000

 [320 rows x 3 columns],
      Gender  Age  EstimatedSalary
 68        0   22            63000
 222       1   37           144000
 53        0   35            23000
 305       1   42            54000
 0         1   19            19000
 ..      ...  ...              ...
 247       0   57           122000
 237       0   37            80000
 333       1   40            65000
 153       0   36            50000
 299       1   46           117000

 [80 rows x 3 columns],
 154    0
 227    1
 213    0
 366    1
 369    1
       ..
 339    1
 136    0
 133    0
 361    1
 340    1
 Name: Purchased, Length: 320, dtype: int64,
 68     0
 222    1
 53     0
 305    0
 0      0
       ..
 247    1
 237    0
 333    0
 153    0
 299    1
 Name: Purchased, Length: 80, dtype: int64]

In [39]:
x_train ,x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state=8)

In [40]:
x_train.shape

(320, 3)

In [41]:
x_test.shape

(80, 3)

In [42]:
model = KNeighborsClassifier(n_neighbors = 15)

In [43]:
model.fit(x_train , y_train)

KNeighborsClassifier(n_neighbors=15)

In [44]:
model.score(x_test , y_test)

0.8375

In [45]:
y_predict = model.predict(x_test)

In [46]:
accuracy_score(y_predict , y_test)

0.8375